img(src='logo.png' alt='Logo' class='logo-image' onclick="window.location.replace('/')") 

h1  Questions

div.answers-class 
  each val in questions
    
    a(href='https://ntuaskmeanything.herokuapp.com//question_view/'+val.title.replace(" ", "-")+"?askedby="+val.asked_by id="link") !{val.title} 
    p="date : "+val.question_date
    p="keywords : "+val.keywords
    hr

    link(rel='stylesheet', href='/browse_questions.css', type='text/css')