img(src='logo.png' alt='Logo' class='logo-image' onclick="window.location.replace('/')")

h1 Contact us 
h2 Address : Ir. Politechniou 9 Zografou 15772
h2 E-mail : askmeanything@ntua.gr
h2 Telephone : 210 999999


link(rel='stylesheet', href='/contact.css', type='text/css')