img(src='logo.png' alt='Logo' class='logo-image' onclick="window.location.replace('/')")
include navbar.pug
div
    .div-class If you have one question, find many answers!
    if !loggedin
        a.nav-link(class= 'login-btn' href='/signup') Sign-up
        a.nav-link(class= 'login-btn' href='/login') Login
    if loggedin
        a.nav-link(class= 'login-btn' href='/logout') Logout
     

h1 Welcome to AskMeAnything
br
br
if !loggedin
    .btn-class 
        a(class='utils-btn' href='/statistics') See the statistics for all recently asked questions!
        a(class='utils-btn' href='/create_question') Ask a new Question!

if loggedin 
    .btn-class 
        a(class='utils-btn' href='/statistics') See the statistics for all recently asked questions!
        a(class='utils-btn' href='/profile') See my Questions & Answers!
        a(class='utils-btn' href='/create_question') Ask a new Question!


link(rel='stylesheet', href='/home.css', type='text/css')