img(src='logo.png' alt='Logo' class='logo-image' onclick="window.location.replace('/')")
block content
    div.div-title Login to your AskMeAnything account!
    div.text-center
        form(class="form-signin" method="POST" action="/login")
            div.form-group
              label( for="inputUsername" class="sr-only") Username: 
              input(type="username" name="username" id="inputEmail" class="form-control" required autofocus)
            br
            div.form-group
              label(for="inputPassword" class="sr-only") Password: 
              input(type="password" name="password" id="inputPassword" class="form-control" required)
            br
            div.form-actions
              input.btn.btn-primary(type='submit', value='Login')

div.div-alt Don't have an account? Click <a href="/signup">here</a> to sign up instead!
link(rel='stylesheet', href='/login.css', type='text/css')