@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);



.signup-body {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(https://www.seekpng.com/png/detail/24-244080_ask-a-question-ask-a-question-icon.png);
    background-size: cover;
    -webkit-filter: blur(0px);
}



.body-signup {
    position: fixed;
    top: calc(25%);
    left: calc(35%);
    height: 49%;
    padding-top: 33px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 50px;
    border-radius: 19px;
    width: 400px;
}

.header-signup {
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 400;
    float: left;
    margin-bottom: 20px;
}

.header-signup div {
    color: rgb(0, 260, 0);
}

.header-signup div span {
    color: #ffffff !important;
}

.signup {
    height: 150px;
    width: 350px;
    padding: 10px;

}

.signup h6 {
    font-size: .8rem;
    color: white;
    line-height: 3.4;
    margin-top: 0;
    margin-bottom: .5rem;
}

.signup a {
    line-height: inherit;
    color: rgb(0, 260, 0);
    text-decoration: none;
    cursor: pointer;
}

.signup input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.signup input[type=email] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.signup input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signup input[type=button] {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.signup input[type=button]:hover {
    opacity: 0.8;
}

.signup input[type=button]:active {
    opacity: 0.6;
}

.signup input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.signup input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.signup input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}