h1 {
    color: #BF4040;
    padding: 10px;
    margin: 10px;
    text-align: center;
    }

h2 {
        color: #BF4040;
        padding: 10px;
        margin: 10px;
        text-align: center;
        }    

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }        