.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    cursor: pointer;
  }

.div-title {
    position: relative;
    top: 50px;
    width: 50%;
    padding: 10px;
    margin-left: 80px;
    border: 2px solid black;
    float: left;
    text-align: center;
    background-color: #6EBFC2;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    clear: left;
    position: relative;
    top: 80px;
    margin-left: 40px;
}

.question-group {
    clear: left;
    margin-left: 80px;
}

.answer-group {
    clear: left;
    margin-left: 80px;
}

.answer-body {
    position: relative;
    top: 80px;
    margin-top: 50px;
    clear:left;
}

#inputAnswer {
    padding: 0 0 80px 0;
    margin-bottom: 20px;
    margin-top: 0px;
}

.btn.btn-cancel {
    position: relative;
    left: 20px;
    background-color: #BF4040;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    background-color: #6EBFC2;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


